<div class="auth-container">
  <h2>Registracija</h2>

  <form (ngSubmit)="onSubmit()">
    <label>Ime</label>
    <input type="text" [(ngModel)]="name" name="name" required />

    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label>Lozinka</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit">Registruj se</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>

  <p class="switch-form">
    Već imaš nalog?
    <a routerLink="/login">Prijavi se</a>
  </p>
</div>
